<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>DT207G - Moment 1</title>
</head>
<body>

    <header>
        <div>
            <nav>
                <ul>
                    <li><a href="/">Startsida |</a></li>
                    <li><a href="/addcourse">Lägg till kurser |</a></li>
                    <li><a href="/about" class="current">Om sidan</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <h2>Om</h2>
        <p>Denna applikation skapades som en del av moment 1 i kursen DT207G. Den låter användare lagra och visa kurser i en SQLite-databas.</p>
        <p>Program: Node.js, Express, EJS, SQLite</p>
        <p>Databasserver: <strong>SQLite</strong></p>

        <h3>Slutsatser</h3>
        <p>Jag har lärt mig att kombinera frontend med backend och hur man hanterar databaser på en serversidan.</p>
    </main>
    
</body>
</html>