<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>DT207G - Moment 1</title>
</head>
<body>

    <header>
        <div>
            <h1>Moment 1</h1>
            <nav>
                <ul>
                    <li><a href="/">Startsida</a></li>
                    <li><a href="/addcourse">Lägg till kurser</a></li>
                    <li><a href="/about" class="current">Om sidan</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div> Om </div>
    
</body>
</html>