
body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  background-color: #cee8fe;
}

header {
  background-color: #FFAFCC;
  color: #39005A;
  padding: 1rem;
}

header h1 {
  margin: 0;
}

.current {
  background-color: #FFC8DD;
  padding: 3px;  
  border-radius: 5px;
}

nav ul {
  display: flex;
  justify-content: end;
  align-items: end;
  list-style: none;
  padding: 0;
}

nav ul li {
  font-weight: bold;
  font-size: 1.7rem;
  margin-right: 1rem;
}

nav ul li a {
  color: #39005A;
  text-decoration: none;
}

main {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 70vh;
  text-align: center;
}

form {
  background-color: #A2D2FF;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  font-size: 1.2rem;
  font-weight: bold;
  justify-content: center;
}

form input, form select {
  display: block;
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 100%;
  max-width: 400px;
  font-size: 1.1rem;
  border: 1px solid #A2D2FF;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #FFAFCC;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.1rem;
  padding: 0.7rem;
}

input[type="submit"]:hover {
  background-color: #fd85b1;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 0.75rem;
  text-align: left;
}

.error {
  color: red;
}
